<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR</title>

    <!-- loader -->
    <link rel="stylesheet" href="./style/loader.css" />
    <!-- tailwind -->
    <link rel="stylesheet" href="./style/output.css" />
    <!-- anim -->
    <link rel="stylesheet" href="./style/animate.min.css" />
    <!-- icon -->
    <link rel="stylesheet" href="./public/aw/css/all.min.css" />
  </head>
  <body
    class="animate__animated animate__fadeIn bg-stone-100"
    style="overflow-x: hidden"
  >
    <div class="w-[90%] m-auto">
      <div
        id="header"
        class="w-[500px] bg-white py-[18px] m-auto flex rounded-b-4xl justify-center items-center border-b border-b-blue-500"
      ></div>

      <div id="content" class="bg-white w-full rounded-md p-4 mt-[55px]">
        <!-- <span class="loader block m-auto"></span> -->
      </div>
    </div>

    <script src="./script/profile.js"></script>
    <script src="./script/jalali.js"></script>
  </body>
</html>
